// Main style
@import 'mixins';
@import 'hover';
@import 'lightbox';

body {
	font-family: 'Open Sans', sans serif;
	background-color: #f3f3f3;
}

section, footer {
	padding-top: 6.25rem;
	padding-bottom: 6.25rem;

	hr {
		background: #ff4800;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
}

hr {
	width: 5rem;
	height: .3125rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

// Header

.navbar-responsive {
	background-color: #282828;

	ul {
		text-align: center;

		li {
			height: 4rem;
			@include font(1.125rem, 300, 4rem, #fff);
			a {
				color: inherit;
			}
		}
	}
}

header {
  width: 100%;
  height: 40.625rem;
  padding-top: 3.125rem;
  background-image: url('../img/site/trame.png'), url('../img/site/header2.jpg');
  background-position: center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../img/site/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

	.logonavbar {
		.logo {
			h1 {
				@include font(2.5rem, 700, 2.5rem, #fff);
				span {
					font-weight: 400;
				}
			}

			hr {
				background: #fff;
				margin: 0;
				width: 25%;
			}

			h2 {
				@include font(.875rem, 300, .875rem, #fff);
				opacity: 0.5;
				margin-top: 1.875rem;
				font-size: 2em;
			}
		}

		.navbar {
			ul {
				float: right;

				li {
					float: left;
					@include font(1.125, 300, 2.5rem, #fff);

					+ li {
						margin-left: 5rem;
					}

					a {
						color: inherit;

						&.hvr-underline-from-left::before {
							background: #ff2222;
						}
					}
				}
			}

				img.menu {
				width: 2.5rem;
			}
			display: inline-block;
		}
	}

	h1.catchphrase {
		@include font(3.125rem, 300, 3.125, #fff);
		text-transform: uppercase;
		text-align: center;
		margin-top: 9rem;

		span {
			font-weight: 600;
		}
	}

	h2.catchphrase {
		@include font(1.825rem, 300, 1.825, #fff);
		text-transform: uppercase;
		text-align: center;
		margin-top: 11rem;

		span {
			font-weight: 600;
		}
	}

	a.down-arrow {
		display: block;
		width: 4.125rem;
		margin: auto;
		margin-top: 6.875;

		img {
			width: 100%;
			animation: arrow 1s ease-in-out infinite alternate;
		}
	}

	@keyframes arrow {
		from {
			opacity: 1;
			margin-top: 0;
		}

		to {
			opacity: 0.2;
			margin-top: 2rem;
		}
	}
}

// About

.about {
	h2 {
		@include font(2.1875rem, 800, 2.1875rem, #282828);
		text-align: center;
	}

	h3 {
		@include font(1.5625rem, 600, 1.5625rem, #282828);
		margin-bottom: 2rem;
	}

	p {
		@include font(1.25rem, 400, 1.875rem, #282828);
		margin-bottom: 2rem;
	}

	ul {
		list-style: url("../img/site/puce.svg");
		@include font(1.25rem, 700, 1.875rem, #282828);
		margin-bottom: 2rem;
		list-style-position: inside;

		a {
			color: #ff4800;
			text-decoration: underline;
		}

		li {
			line-height: 2rem;
		}
	}

	img.picture {
		float: right;
		border-radius: 40%;
		margin: 25% 0 25% 75px;
	}

	.social-networks {
		text-align: center;

		a {
			+ a {
				margin-left: .3125rem;
			}
			img {
				width: 3.1875rem;
				margin-left: 1.5rem;
			}
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

// Skills

.skill {
	background-color: #282828;

	h2 {
		@include font(2.1875rem, 800, 2.1875rem, #f3f3f3);
		text-align: center;
	}

	p {
		@include font(1.25rem, 400, 1.25rem, #ccc);
		text-align: center;
		margin-bottom: 4.6875rem;
	}

	.flex {
		display: flex;
		align-items: center;
		margin-top: 2.4rem;

		.percent {
			@include font(5.25rem, 700, 5.25rem, #ccc);

			.colorNumber {
				color: #ff2222;
			}
		}

		.progress-container {
			flex-basis: 100%;
			padding-left: 2rem;

			strong {
				@include font(1.5rem, 700, 1.5rem, #f3f3f3);
				margin-left: 1rem;
			}

			.progress {
				margin-top: 1rem;
				background-color: #656565;

				.progress-bar {
					height: 1.25rem;
					background-color: #ff2222;
				}
				.learning {
					height: 1.25rem;
					background-color: rgb(0, 225, 255);
				}
			}
		}
	}
}

// Experiences

.experience {
		background: linear-gradient( rgba(0, 0, 0, 0.80),  rgba(0, 0, 0, 0.80) ), url('https://web-tool-box.com/ownprojects/img/site/new-web.jpg');
		background-size: cover;
		background-attachment: fixed;

	h2 {
		@include font(2.1875rem, 800, 2.1875rem, #f3f3f3);
		text-align: center;
	}

	hr {
		margin-bottom: 0;
	}

	article {
		position: relative;
		margin-top: 4.375rem;
		background-color: #282828;
		padding: 1.25rem 2.1875rem 3.4375rem;

		.period {
			position: absolute;
			height: 4.375rem;
			background: #ff4800;
			padding-left: 1rem;
			padding-right: 1rem;
			top: -1.125rem;
			left: -.875rem;
			@include font(1.5625rem, 700, 4.375rem, #fff );
		}

		h3,
		h4 {
			text-align: right;
		}

		h3 {
			@include font(1.5625rem, 700, 1.5625rem, #ccc);

			&::before {
				content: url('../img/site/puce.svg');
				padding-left: .625rem;
				margin-right: 8px;
			}
		}

		h4 {
			@include font(.9375rem, 400, .9375rem, #8d8d8d);
			margin-bottom: 2.8125rem;
		}

		p {
			@include font(1.125rem, 400, 1.875rem, #ccc);
			text-align: justify;
		}
	}
}

// Realisations

.work {
	background-color: #dadada;

	h2 {
		@include font(2.1875rem, 800, 2.1875rem, #282828);
		text-align: center;
	}

	p {
		@include font(1.25rem, 400, 1.25rem, #282828);
		text-align: center;
		margin-bottom: 5.25rem;
	}

	.external {
		text-align: center;
		border: 1px solid black;
		border-radius: 0 0 5px 5px;
		background-color: #282828;

		a {
			text-decoration: none;
			color: #F00;
			font-size: 1.2rem;
			font-weight: 600;
		}
	}

	figure {
		position: relative;
		margin-bottom: 0;
		margin-top: 1rem;

		img {
			width: 100%;
		}

		figcaption {
			position: absolute;
			top: .5rem;
			right: .5rem;
			bottom: .5rem;
			left: .5rem;
			background-color: #ff4848;
			opacity: 0;
			padding-top: 3.9375rem;
			transition: opacity .6s ease;

			&:hover {
				opacity: .6;
			}

			h3,
			h4 {
				text-align: center;
			}

			h3 {
				@include font(1.25rem, 700, 1.25rem, #282828);
				margin-bottom: 1rem;
			}

			h4 {
				@include font(.875rem, 400, .875rem, #282828);
				margin-bottom: 2rem;
			}

			a {
				display: block;
				width: 1.625rem;
				margin: auto;
			}
		}
	}
}

//Hobbies

.hobbies {
	background: #282828;

	h2 {
		@include font(2.1875rem, 800, 2.1875rem, #f3f3f3);
		text-align: center;
	}

	p {
		@include font(1.25rem, 400, 1.25rem, #ccc);
		text-align: center;
		margin-bottom: 4.6875rem;
	}

	.hobbiesBlock {
		border: 1px solid #ff4848;
		border-radius: 5px;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		margin: 1.2rem 0 1.2rem 0;
		text-align: center;
		background-color: #A9A9A9;

		hr {
			width: 3rem;
			height: .075rem;
		}

		small {
			font-weight: bold;
		}
		
		img {
			width: 30%;

		}
	}
}

//Networks

.networks {
	text-align: center;
	h2 {
		@include font(2.1875rem, 800, 2.1875rem, #282828);
		text-align: center;
	}

	p {
		@include font(1.25rem, 400, 1.25rem, #282828);
		text-align: center;
		margin-bottom: 2.25rem;
	}

	.social {
		font-size: 3.5rem;

		a {
			margin: 0 2rem 0 2rem;
		}

		.fa-facebook,
		.fa-twitter,
		.fa-google-plus,
		.fa-linkedin,
		.fa-youtube,
		.fa-github,
		.fa-codepen {
			color: #ff4848;

			&:hover {
				color: #a0a0a0;
			}
		}
	}
}

// Footer

footer {
	background-color: #282828;
	color: #fff;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1rem;

		.upArrow {
			margin: 0 0 15px 0;
		font-size: 1em;
		width: 2.5%;
		height: 2.5%;
		transform: rotate(180deg);

	}
}

// Animations
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


